*{
    background-color:burlywood;
}


header h1{
    text-align: center;
    color: blueviolet;
}

.pp{
    border: solid ; padding: 40; color: blueviolet;
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    

}
 
 
 ul li{
     font-size: x-large;
 }
 #mm li{
     font-size: x-large;
 }

 ul {
     border:solid; color: blueviolet;
 }
 